* {
  margin: 0 auto;
  padding: 0 auto;
  width: auto;
  height: auto;
}

.centered-content {
  position: relative;
  margin: 20px 5%; /* Gleicher Abstand wie in #root section */
  padding: 5px; /* Innenabstand */
  background-color: inherit; /* Hintergrundfarbe übernehmen */
}

#root section {
  position: relative; /* Changed from absolute to relative */
  /* top right  under left */
  margin: 20px 20% 20px 20%; /* Added to center horizontally and add spacing */
  padding: 5px; /* innerhalb des Elements*/
  background-color: #1f1f1f;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 20px; /* Einheitlicher Abstand */
}

.summary h2 {
  margin-bottom: 20px;
}

p {
  all: unset;
  /* untereinander stehen */
  display: block;
  text-align: left;
}

body {
  /* Anreihung */
  display: block;
  /* Anfangsrichtung? */
  flex-direction: column-reverse;
  /* Background */
  background-color: #121212 !important;
  /* Schrift */
  color: #ffffff !important;
  min-height: 100vh;
}

body .card {
  background-color: #121212 !important;
  color: #ffffff !important;
  margin: 0;
  padding: 0px;
}

li {
  margin: 0;
  padding: 0px;
  color: #ffffff;
}

li::marker {
  color: #07eaf1;
}
