.profilepic {
  width: auto;
  height: auto;
}

.background {
  width: auto;
  height: auto;
}

.card-home {
  background-color: blue;
  border-color: brown;
}

.twitter-card .banner-img {
  height: 100px;
  object-fit: cover;
}

.twitter-card .profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: -60px; /* passt sich der Bannerhöhe an */
  left: 50%;
  transform: translateX(-50%);
  background: white;
}
