.sidebar {
  position: fixed;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1f1f1f;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sidebar li {
  color: white;
  margin: 15px 0;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.sidebar li:hover {
  color: #64cfff;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a, /* für echte a-Tags */
.sidebar ul li span {
  /* für react-scroll Links */
  display: inline-block; /* oder block, falls du die ganze Zeile klickbar willst */
  cursor: pointer;
  width: 100%;
  padding: 8px 12px;
  color: blue;
  text-decoration: none;
}
