.skillslist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 0;
  gap: 10px;
  margin-top: 15px;
}

.skillslist li {
  color: white;
  list-style-type: disc;
  text-align: start;
}
